PUID=1000
PGID=1000
MY_HOST_NAME=media.local
CA_SUBJECT=Self Signed CA
CA_EXPIRE=36500
SSL_EXPIRE=365000
COUNTRY_ISO=BE
COUNTRY_NAME=Belgique
ORGANISATION_NAME=organizationName
EMAIL_ADDRESS=email@emailAddress.com
